# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Lock files
.terraform.lock.hcl

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore tfvars files that may contain sensitive data
*.tfvars
*.tfvars.json

# Ignore tfplan files
*tfplan*

.claude/settings.local.json